* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Libre Franklin', sans-serif;
    height: 100vh;
}

body {
    font-size: 1.5rem;
    padding: 5em 1.8em 1.8em 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

/* Typography */

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(0, 0%, 59%);
    margin-bottom: .7em;
    margin-top: 1.5em;
}

h1 span {
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}

p {
    color: hsl(209, 33%, 12%);
}

h1+p {
    margin-top: 1.2em;
    font-size: 1.4rem;
}

main {
    text-align: center;
}

.logo img {
    height: 19px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2.2em;
    position: relative;
    height: 152px;
}

.error-msg {
    display: none;
    color: hsl(354, 100%, 66%);
    font-size: 1.2rem;
    font-style: italic;
    margin-top: .7em;
    font-weight: 300;
}

form input,
form button {
    padding: 1em;
    border-radius: 2em;
    font-family: inherit;
    font-size: 100%;
}

form input[type="email"] {
    padding-left: 2.5em;
    border: 1px solid hsl(223, 100%, 88%);
    width: 100%;
    /* outline: none; */
}

/* input[type="email"]:invalid {
    outline: 2px solid hsl(354, 100%, 66%);
    border-color: hsl(0, 0%, 100%);
} */

form button {
    color: hsl(0, 0%, 100%);
    border: none;
    background-color: hsl(223, 87%, 63%);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 5px 5px hsl(223, 100%, 88%);
    margin-top: 1em;
}

form button:hover {
    background-color: hsl(223, 100%, 88%);
}

.dashboard img {
    width: 100%;
    position: relative;
    top: 3em;
}

footer {
    text-align: center;
    /* align-self: flex-end; */
}

footer p {
    color: hsl(0, 0%, 59%);
    font-size: 1.3rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: .7em;
    margin-bottom: 2em;
}

.social-links a {
    text-decoration: none;
    border-radius: 50%;
    padding: .3em .45em;
    border: 1px solid hsla(0, 0%, 59%, 0.226);
    text-align: center;
    font-size: 16px;
    color: hsl(223, 87%, 63%);
    /* display: grid;
    place-content: center; */
}

.social-links a:hover {
    background-color: hsl(223, 87%, 63%);
    color: hsl(0, 0%, 100%);
}

.social-links a ion-icon {
    position: relative;
}

ion-icon[name="logo-facebook"] {
    top: .1em;
}

ion-icon[name="logo-twitter"] {
    top: .15em;
    left: .05em;
}

ion-icon[name="logo-instagram"] {
    top: .1em;
    left: .05em;
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media queries */

@media screen and (min-width: 800px) {

    body {
        padding-top: 3em;
        padding-bottom: 0;
    }

    main {
        width: 600px;
    }

    .logo img {
        height: 22px;
    }

    h1 {
        font-size: 4rem;
        margin-top: 1em;
        margin-bottom: .3em;
    }

    h1+p {
        font-size: 1.67rem;
        margin-top: .3em;
    }

    form {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        margin-bottom: 2em;
    }

    form .error-msg {
        position: absolute;
        left: 2em;
    }

    form label {
        width: 68%;
    }

    form input[type="email"] {
        width: 100%;
        padding-left: 1.5em;
    }

    form button {
        width: 30%;
        margin: 0;
    }
}